
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;

}

.fundo {
    background-image: url('file:///C:\Users\Mateu\source\repos\ProjetoWebProver\ProjetoWebProver\wwwroot\Imagens\Fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}


.text-center  {
    height: 100vh;
    /*# é para id e . para classe*/
    display: grid;
    place-items: center;
}
.text-center2, .text-center3 {
    text-align: center;
    display: grid;
    background-position-y:bottom
    
}
.hidden {
    display: none;
}

.display-4 {
    width: 37ch;
    animation: typing 3.5s steps(37, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    color:#fff;
}

.display-5{
    width: 37ch;
    animation: typing 3.5s steps(37, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 1em;
    color: #fff;
}
.display-2 {
    width: 52ch;
    animation: typing 4.0s steps(52, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    color: #fff;
}

.display-3 {
    width: 40ch;
    animation: typing 3.0s steps(40, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    color: #fff;
}



.display-1 {
    width: 23ch;
    animation: typing 1.5s steps(25, end), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-size: 2em;
    color: #fff;
}
@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}






#btnc-Criar {
    background-origin:content-box;
    color:red;
    
}
#btnc-CriarArm {
    background-origin: content-box;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* Provide sufficient contrast against white background */
a {
    color: #fff;
}







/* Sticky footer styles
-------------------------------------------------- */
* {
    font-family: 'Pixel Operator';
    color:#fff;
    padding:0px;
    margin:0px;
   
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem #000000;
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
