
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="teste">
    <h1 class="display-4">Olá Aventureiro...Seja Bem Vindo...</h1>
    <h1 hidden class="text">.....</h1>
    <h1 hidden class="text">Você não se lembra de nada mesmo não é ?</h1>
    <h1 hidden class="text">Tudo bem, vamos começar do começo...</h1>    
</div>


<script>
    window.onload = (function () {
        let elementH1 = document.querySelectorAll('.text');
        let index = 0;
        $('#teste').click(function () {
            if (elementH1.length > index) {
                let display4 = document.querySelectorAll('.display-4');
                for (var i = 0; i < display4.length; i++) {
                    display4[i].classList.add('hidden');
                }
                elementH1[index].removeAttribute('hidden');
                elementH1[index].classList.add('display-4')
            }
            else
                window.location.href = "Identity/Account/Login"
            index++
        });
    });

    function dalle(data) {

    }
</script>
