<body>
    <p>Este site foi criado como projeto para ProverTec e tem o intuito de testar conhecimento, simulando a criação de um Personagem de RPG mais precisamente Dark Souls</p>
    <footer id="footAqui">
        <a href="https://github.com/MateusLB018">Me siga no Github!</a>
        <a href="https://www.linkedin.com/in/mateus-batista-00b043208/">Me Siga No LinkedIn!</a>
    </footer>
    
</body>

<style>
    #footAqui{

    }
</style>