@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Mudança de senha confimada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sua senha foi mudada. Por favor <a asp-page="./Login">acesse aqui para entrar</a>.
</p>
